@using Rss.Web.Models
@model IndexPostViewModel

<form method="post" asp-action="Index">
    <div class="form-group">
        <label for="sourceName">Источник ленты</label>
        <select size="1" name="sourceName" id="sourceName">
            @foreach (var source in Model.SourceViewModel.Sources)
            {
                @:<option @(source.IsSelected ? "selected" : "") value="@source.Name">@source.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="radio" id="sortChoice1"
               name="sortOrder" value="@SortState.DateOrder" @(Model.SortViewModel.SortType == SortState.DateOrder ? "checked=\"checked\"" : "")>
        <label for="sortChoice1">Сортировать по дате</label>

        <input type="radio" id="sortChoice2"
               name="sortOrder" value="@SortState.SourceOrder" @(Model.SortViewModel.SortType == SortState.SourceOrder ? "checked=\"checked\"" : "")>
        <label for="sortChoice2">Сортировать по источнику</label>
    </div>
    <button class="btn" type="submit">Посмотреть</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Источник</td>
            <td>Название новости</td>
            <td>Описание новости</td>
            <td>Дата публикации</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var news in Model.News)
        {
            <tr>
                <td>@news.Source</td>
                <td>@news.Tittle</td>
                <td>@Html.Raw(news.Description)</td>
                <td>@news.PublishDate.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>

@for (var i = 0; i < Model.PageViewModel.TotalPages; i++)
{
    <a asp-action="Index"
       asp-route-page="@(i + 1)"
       asp-route-sourceName="@(Model.SourceViewModel.GetSelected.Name)"
       asp-route-sortorder="@(Model.SortViewModel.SortType)"
       class="btn @(Model.PageViewModel.PageNumber==i+1?"btn-success":"btn-default")">
        @(i + 1)
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}